.button {
    @include rem(font-size, 18px);
    @include border-radius(4px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: 1px solid inherit;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background-color: transparent;
    color: $color-font;
    transition: all 0.1s ease-in-out;
    -webkit-appearance: none;

    &:hover {
        background-color: $color-gray-03;
        text-decoration: none;
    }

    &:focus,
    &:active {
        background-color: darken($color-gray-03, 5%);
        outline: none;
    }

    &:disabled,
    &--disabled {
        border: 1px solid $color-blue;
        cursor: not-allowed;
        background: $color-blue;
        color: $color-white;
    }

    &___text {
        border-color: transparent;
        background-color: transparent;
    
        &:hover {
            text-decoration: underline;
            background-color: unset;
        }
    
        &:focus,
        &:active {
            outline: none;
        }
    }

    &___primary {
        border: 1px solid $color-brand-red;
        font-weight: 600;
        background: $color-brand-red;
        color: $color-white;
    
        &:hover {
            border: 1px solid lighten($color-brand-red, 5%);
            background: lighten($color-brand-red, 5%);
            color: $color-white;
        }
    
        &:focus,
        &:active {
            border: 1px solid darken($color-brand-red, 5%);
            background: darken($color-brand-red, 5%);
            color: $color-white;
        }
    }

    &___secondary {
        border: 1px solid $color-gray-57;
        font-weight: 600;
        background: $color-white;
        color: $color-font;
    
        &:hover {
            border: 1px solid lighten($color-gray-57, 10%);
            background: $color-gray-04;
            color: $color-font;
        }
    
        &:focus,
        &:active {
            border: 1px solid darken($color-gray-57, 10%);
            background: $color-gray-04;
            color: $color-font;
        }
    }

    &___success {
        border: 1px solid $color-green;
        font-weight: 600;
        background: $color-green;
        color: $color-white;
    
        &:hover {
            border: 1px solid lighten($color-green, 5%);
            background: lighten($color-green, 5%);
            color: $color-white;
        }
    
        &:focus,
        &:active {
            border: 1px solid darken($color-green, 5%);
            background: darken($color-green, 5%);
            color: $color-white;
        }
    }

    &___warning {
        border: 1px solid $color-warning;
        font-weight: 600;
        background: $color-warning;
        color: $color-white;
    
        &:hover {
            border: 1px solid lighten($color-warning, 5%);
            background: lighten($color-warning, 5%);
            color: $color-white;
        }
    
        &:focus,
        &:active {
            border: 1px solid darken($color-warning, 5%);
            background: darken($color-warning, 5%);
            color: $color-white;
        }
    }

    &___danger {
        border: 1px solid $color-danger;
        font-weight: 600;
        background: $color-danger;
        color: $color-white;
    
        &:hover {
            border: 1px solid lighten($color-danger, 5%);
            background: lighten($color-danger, 5%);
            color: $color-white;
        }
    
        &:focus,
        &:active {
            border: 1px solid darken($color-danger, 5%);
            background: darken($color-danger, 5%);
            color: $color-white;
        }
    }

    &___small {
        @include rem(font-size, 14px);
        @include rem(padding, 4px 12px);
    }

    &___large {
        @include rem(padding, 12px 32px);
        @include rem(font-size, 19px);
    }

    &___block {
        display: block;
    }
}