.sidebarItem {
    @include border-radius(4px);
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    text-align: left;
    background-color: $color-white;
    color: $color-font;
    padding: 0.75rem 1rem;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: #f1f1f1;
        text-decoration: none;
        color: $color-font;
        cursor: pointer;
    }

    &__icon {
        display: inline-flex;
        flex-shrink: 0;
        min-width: 2rem;
    }

    &__text {
        flex: 1 1 auto;
    }
}