.accountSidebar {
    display: block;

    &__items {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }

    &__item {
        display: block;

        ul {
            display: block;
            list-style-type: none;
            padding-left: 0;
        }
    }

    &__link {
        @include border-radius(4px);
        display: flex;
        flex-direction: row;
        grid-gap: 0.75rem;
        align-items: baseline;
        background-color: #f1f1f1;
        border-left: 4px solid #f1f1f1;
        color: $color-font;
        width: 100%;
        padding: 0.625rem 1.25rem;
        text-decoration: none;
        margin-bottom: 0.25rem;

        &:hover {
            background-color: #e8e8e8;
            border-color: #e8e8e8;
            color: $color-font;
            text-decoration: none;
        }

        &___current {
            font-weight: 700;
            border-color: $color-brand-red;

            &:hover {
                border-color: $color-brand-red;
            }
        }

        svg {
            font-size: 1rem;
            margin-top: -1px;
        }
    }
}