.sectionHeading {
    margin-bottom: 3rem;
    width: 100%;
  
    &___left {
      text-align: left;
    }
  
    &___center {
      text-align: center;
    }
  
    &___right {
      text-align: right;
    }
  
    h2 {
        font-size: 2.25rem;
        color: $color-font-headline;

        @include breakpoint(tablet) {
            font-size: 2.75rem;
        }

        @include breakpoint(desktop) {
            font-size: 3rem;
        }
    }
  
    h3 {
        color: $color-font;
    }
}
  