.meetingRooms {
    display: block;

    &__rooms {
        display: flex;
        flex-direction: column;

        @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: var(--bs-gutter-x);
        }
    }

    &__room {
        margin-bottom: var(--bs-gutter-x);

        @include breakpoint(destop) {
            margin-bottom: 0;
        }
    }

    &__image {
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    &__name {
        margin-bottom: 0.25rem;

        a {
            color: $color-brand-red;
        }
    }

    &__location {
        font-size: 1rem;
        font-weight: 300;
        color: $color-font-fade;
    }
}